src/axiom/soap/axiom.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:axiom.soap" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:axiom.soap" xmlns:intf="urn:axiom.soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="urn:axiom.soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="generateSamlResponse">
    <complexType>
     <sequence>
      <element name="axiomSamlRequest" type="impl:AxiomSamlRequest"/>
     </sequence>
    </complexType>
   </element>
   <simpleType name="SamlVersion">
    <restriction base="xsd:string">
     <enumeration value="_1_1"/>
     <enumeration value="_2_0"/>
    </restriction>
   </simpleType>
   <simpleType name="SamlUserIdLocation">
    <restriction base="xsd:string">
     <enumeration value="SUBJECT"/>
     <enumeration value="ATTRIBUTE"/>
    </restriction>
   </simpleType>
   <complexType name="AxiomSamlRequest">
    <sequence>
     <element name="samlVersion" type="impl:SamlVersion"/>
     <element name="issuer" type="xsd:string"/>
     <element name="recipient" type="xsd:string"/>
     <element name="userId" type="xsd:string"/>
     <element name="samlUserIdLocation" type="impl:SamlUserIdLocation"/>
     <element name="attributeName" nillable="true" type="xsd:string"/>
     <element name="attributeUri" nillable="true" type="xsd:string"/>
     <element name="base64EncodeResponse" nillable="true" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <element name="generateSamlResponseResponse">
    <complexType>
     <sequence>
      <element name="generateSamlResponseReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="generateSamlResponseRequest">

      <wsdl:part element="impl:generateSamlResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="generateSamlResponseResponse">

      <wsdl:part element="impl:generateSamlResponseResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="SamlIdp">

      <wsdl:operation name="generateSamlResponse">

         <wsdl:input message="impl:generateSamlResponseRequest" name="generateSamlResponseRequest"/>

         <wsdl:output message="impl:generateSamlResponseResponse" name="generateSamlResponseResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="samlIdpSoapBinding" type="impl:SamlIdp">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="generateSamlResponse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generateSamlResponseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="generateSamlResponseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SamlIdpService">

      <wsdl:port binding="impl:samlIdpSoapBinding" name="samlIdp">

         <wsdlsoap:address location="http://localhost/axiom/services/samlIdp"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
